<!DOCTYPE html>
<html>
<head>
	<title>Session Youtube</title>
	 <!-- Compiled and minified CSS -->
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
          
</head>
<body>
 <!-- header -->
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">SY</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Menu 1</a></li>
          <li><a href="badges.html">Menu 2</a></li>
          <li class="active"><a href="collapsible.html">Menu 3</a></li>
        </ul>
      </div>
    </nav>
  </div>

 <!-- body -->
<div class="container">
<!-- pessoas na sessão -->
	<div class="row" style="margin-top:15px;">
		<div class="col s12">
			<h6>Watching <strong>YNGWIE MALMSTEEN Live [HD] Black Star</strong> with you:</h6>
		</div>
	</div>

	<div class="row" style="margin-top:-15px" >
	<div class="col s12">
		
		 <div class="chip">
	    <img src="http://lorempixel.com/36/36/" alt="Contact Person">
		    Marcos
		 </div>

		 <div class="chip">
	    <img src="http://lorempixel.com/36/36/" alt="Contact Person">
		    Janaina Lima
		 </div>

		 <div class="chip">
	    <img src="http://lorempixel.com/36/36/" alt="Contact Person">
		    Allyson Maciel
		 </div>

		 <div class="chip">
	    <img src="http://lorempixel.com/36/36/" alt="Contact Person">
		    Migue Eduardo 
		 </div>

		 <div class="chip">
	    <img src="http://lorempixel.com/36/36/" alt="Contact Person">
		    Mariaa Silvaa
		 </div>

		 <div class="chip">
	    <img src="http://lorempixel.com/36/36/" alt="Contact Person">
		    Jane Draco
		 </div>

		 <div class="chip">
	    <img src="http://lorempixel.com/36/36/" alt="Contact Person">
		    Cliche Spolier
		 </div>
	</div>
		
	</div>


	<div class="row" style="margin-top:15px;">
	  <div class="col s8">
		  <div class="video-container">
	        <iframe width="853" height="480" src="http://www.youtube.com//embed/QvMKsgVBzMo?rel=0" frameborder="0" allowfullscreen></iframe>
	      </div>

	      <!-- Container com comentários da comunidade -->
	      <div class="row">
	      	<div class="col s12 ">
	        <div class="card-panel grey lighten-5 z-depth-1" style="height:70px;">
	          <div class="row valign-wrapper">
	            <div class="col s1">
	              <img src="http://lorempixel.com/36/36/" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
	            </div>
	            <div class="col s12">
	              <span class="black-text">
	                <b>Marcos at 1:40</b> It's so amazing!
	              </span>
	            </div>
	          </div>
	        </div>
	      </div>
	      </div>
	  </div>


	  <!-- chat -->
      <div class="col s4">
      	<div class="row ">
				<div class="col s12 ">
					<ul class="collection" style="margin:0">
					<li class="collection-item" style="margin-top:0;width:100%"> <strong>Mariaa Silvaa</strong> <small>lorempixel Lorem ipsum dolor sit amet, consusmod.</small></li>

					<li class="collection-item" style="margin-top:0;width:100%"> <strong>Mariaa Silvaa</strong> <small>lorempixel Loremusmod.</small></li>


					<li class="collection-item" style="margin-top:0;width:100%"> <strong>Mariaa Silvaa</strong> <small>lorempixel Lorem ipsum dolor sit amet, consec</small></li>

					<li class="collection-item" style="margin-top:0;width:100%"> <strong>Mariaa Silvaa</strong> <small>lorempixel Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</small></li>

					<li class="collection-item" style="margin-top:0;width:100%"> <strong>Allyson Maciel</strong> <small>lorempixel Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</small></li>

					</ul>
					
					<small style="margin:0;"><i id="isTyping">Allyson is typing...</i></small>
					
					
					<input id="text" type="text" class="validate">
					
				</div>
			</div>	
      </div>

	</div>  
</div>


 <!-- footer -->
 <script type="text/javascript">
 var interval = setInterval(function(){
 	Materialize.toast('I am a toast!', 4000); 
 },1000); 
 </script>
</body>

</html>
