<!DOCTYPE html>
<!-- Versão em Português do Brasil (PT-BR) -->
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>YouSession - A sua sessão do YouTube</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">YouSession</a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center amber-text text-darken-3">YouSession</h1>
        <div class="row center">
          <h5 class="header col s12 light">Uma maneira prática e fácil de assistir aos vídeos do YouTube com seus amigos</h5>
        </div>
        <div class="row center">
          <a href="/session" id="" class="btn-large waves-effect waves-light amber darken-2">Entrar</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax">
      <img src="img/bg1.jpg" height="2304" width="3456" alt="Concert by Hannah Rodrigo">
    </div>
  </div>


  <div class="container">
    <div class="section">
      <!--   Sessão de ícones   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center amber-text text-darken-3"><i class="material-icons">live_help</i></h2>
            <h5 class="center">O que é?</h5>

            <p class="light">Já mandou um link de algum vídeo do YouTube para um amigo e desejou que estivessem vendo o mesmo juntos para comentarem e discutirem o vídeo? O YouSession traz a solução para seus problemas! Com um modo simples de se ver vídeos junto com seus amigos podendo sempre conversar ao decorrer do vídeo pelo chat integrado do YouSession.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center amber-text text-darken-3"><i class="material-icons">language</i></h2>
            <h5 class="center">Descomplicado</h5>

            <p class="light">Login? Isso é coisa do passado! Escolha um nickname e o vídeo que deseja ver com seus amigos, dê o play, discuta a parada e aproveite!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center amber-text text-darken-3"><i class="material-icons">forum</i></h2>
            <h5 class="center">Colabore</h5>

            <p class="light">Gostou da ideia? Colabore com o projeto no<a class="light-blue-text text-accent-4" href="https://github.com/Guepardo/YoutubeSession" > GitHub.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<footer class="page-footer amber darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Quem Somos</h5>
          <p class="grey-text text-lighten-4">Somos ex-alunos do curso de Sistemas de Informação da UEG/CCET (Universidade Estadual de Goiás/Câmpus Anápolis de Ciências Exatas e Tecnológicas - Henrique Santillo) engajados na busca constante pelo conhecimento e desenvolvimento de soluções tecnológicas funcionais e elegantes.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contate-nos</h5>
            <div class="col l6 s12">
              <h8 class="white-text">Guepardo</h5>
              <a href="mailto:bsinet1@gmail.com?subject=Contato YouSession">
                <img src="img/email.png" height="48" width="48" alt="Email Guepardo"></a>
              <a href="https://br.linkedin.com/in/allyson-maciel-guimar%C3%A3es-30a417b9/pt">
                <img src="img/in.png" height="48" width="48" alt="/guepardo"></a>
            </div>
            <div class="col l6 s12">
              <h8 class="white-text">calaca</h5>
              <a href="mailto:lorena.calaca.od@gmail.com?subject=Contato YouSession">
                <img src="img/email.png" height="48" width="48" alt="Email Lorena"></a>
              <a href="https://br.linkedin.com/in/calaca">
                <img src="img/in.png" height="48" width="48" alt="/calaca"></a>
            </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Template por <a class="light-blue-text text-accent-4" href="http://materializecss.com">Materialize</a>.&nbsp;
        Adaptado por <a class="light-blue-text text-accent-4" href="https://github.com/calaca">calaca</a> e <a class="light-blue-text text-accent-4" href="https://github.com/Guepardo">Guepardo</a>.   
      </div>
    </div>
  </footer>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>