<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>YouSession - A sua sessão do YouTube</title>
    <!-- CSS  -->
    <link rel="stylesheet" href="animate.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-73053468-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- Navegação -->
    <div class="navbar-fixed">
      <nav class="indigo lighten-1">
        <div class="nav-wrapper">
          <a href="/" id="start" class="brand-logo white-text"><img class="brand-img-logo"src="img/logo.png"></a>
          <!-- <ul class="right hide-on-med-and-down valign-wrapper">
            <li>
              <a class="indigo-text text-darken-4" href="https://translate.google.com.br/?hl=pt-BR"><i class="material-icons left">language</i>&nbsp;English</a>
            </li>
          </ul> -->
        </div>
      </nav>
    </div>
    <!-- Parallax -->
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center"><img src="img/logo.png"></h1>
          <div class="row center">
            <h5 class="header col s12 light white-text">Uma maneira prática e fácil de assistir aos vídeos do YouTube com seus amigos</h5>
          </div>
          <div class="row center">
            <a href="#modal1" class="btn-large waves-effect waves-light indigo darken-2 modal-trigger ">Entrar</a>
          </div>
          <br><br>
        </div>
      </div>
      <div class="parallax">
        <img src="img/bg1.jpg" height="2304" width="3456" alt="Concert by Hannah Rodrigo">
      </div>
    </div>
    <!-- Conteúdo -->
    <div class="container">
      <div class="section">
        <!--   Sessão de ícones   -->
        <div class="row">
          <div class="col s12 m6">
            <div class="icon-block">
              <h2 class="center indigo-text text-darken-2"><i class="material-icons">live_help</i></h2>
              <h5 class="center">O que é?</h5>
              <p class="light">Já mandou um link de algum vídeo do YouTube para um amigo e desejou que estivessem vendo o mesmo juntos para comentarem e discutirem o vídeo? O YouSession traz a solução para seus problemas! Com um modo simples de se ver vídeos junto com seus amigos podendo sempre conversar ao decorrer do vídeo pelo chat integrado do YouSession.</p>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="icon-block">
              <h2 class="center indigo-text text-darken-2"><i class="material-icons">language</i></h2>
              <h5 class="center">Descomplicado</h5>
              <p class="light">Login? Isso é coisa do passado! Escolha um nickname e o vídeo que deseja ver com seus amigos, dê o play, converse com seus amigos pelo chat e aproveite!</p>
            </div>
          </div>
        </div>
        <!-- Seção: salas online -->
        <div class="row" style="margin-top:50px;">
          <!-- título -->
          <div class="row">
            <div class="col s12 m12">
              <h5 class="center">Salas Online</h5>
            </div>
          </div>
          <!-- table -->
          <div class="row">
            <div class="col s12 m12">
              <table>
                <thead>
                  <tr>
                    <th data-field="id">Nome da Sala</th>
                    <th data-field="name">Online</th>
                    <th data-field="price">Tempo corrente</th>
                    <th data-field="price"></th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i = 0; i < rooms.length; i++){ %>
                  <tr>
                    <td><%= rooms[i].session_name %></td>
                    <td>Eclair</td>
                    <td>Eclair</td>
                    <td> <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                      <i class="material-icons right">send</i>
                    </button></td>
                  </tr>
                  <%}%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Rodapé -->
    <footer class="page-footer indigo lighten-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Quem Somos</h5>
            <p class="grey-text text-lighten-4">Somos ex-alunos do curso de Sistemas de Informação da UEG/CCET (Universidade Estadual de Goiás/Câmpus Anápolis de Ciências Exatas e Tecnológicas - Henrique Santillo) engajados na busca constante pelo conhecimento e desenvolvimento de soluções tecnológicas funcionais e elegantes.</p>
          </div>
          <!-- Contatos -->
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Template por <a class="light-blue-text text-accent-1" href="http://materializecss.com">Materialize</a>.&nbsp;
          Adaptado por <a class="light-blue-text text-accent-1" href="https://github.com/Guepardo">Guepardo</a>.
          <a class="right" href="https://github.com/Guepardo/YoutubeSession">
            <img class="right" src="img/gh.png" height="48" width="48" alt="Git Hub">
          </a>
        </div>
      </div>
    </footer>
    <!-- Modal -->
    <!-- Modal Trigger -->
    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Estamos quase lá</h4>
        <p>Entre com as informações abaixo para abrir a sua sessão</p>
        <div class="row">
          <div class="input-field col s12">
            <input id="nome_sala" type="text" class="validate">
            <label for="text">Nome da Sala</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="link_video" type="text" class="validate">
            <label for="text">Link do vídeo do Youtube</label>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <a id="register" class="waves-effect waves-light btn">Iniciar Sessão</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Fechar Modal</a>
      </div>
    </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script  type="text/javascript" charset="utf-8" >
    $(document).ready(function(){
    $('.modal-trigger').leanModal();
    // Tratando eventos de botões:
    
    $('#register').click(function(){
    var nomeSala = $('#nome_sala').val();
    var linkVideo = $('#link_video').val();
    var data = { 'nomeSala' : nomeSala, 'linkVideo': linkVideo };
    $.post('/register',data,function(data){
    if(!data.status)
    Materialize.toast('Tente outro link, esse é inválido :/', 10000);
    else
    window.location.href ="/session/"+data.hash;
    
    });
    });
    });
    </script>
  </body>
</html>