<!DOCTYPE html>
<html>
<head>
	<title>Teste Socket</title>
</head>
<body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io('http://localhost:3000');


 socket.on('connect', function(data){
   socket.emit('enterRoom', { room: '1234' });
 }); 

  socket.on('msg', function (data) {
    console.log("Msg>__ "+data.data);
    Materialize.toast('Nova mensagem: '+ data.data, 4000); 
  });

  socket.on('newUser', function(data){
  	console.log(data.data); 
  	Materialize.toast('Novo usuário na sala', 4000); 
  }); 

  socket.on('leave', function(data){
  	console.log(data.data); 
  	Materialize.toast('Usuário saiu da sala', 4000); 
  });

  socket.on('reconnect_attempt', function(){
  	Materialize.toast('Socket Reconectando', 4000); 
  }); 

  socket.on('reconnect', function(){
  	Materialize.toast('Conexão reestabelecida', 4000);
  }); 

  function sendMsg(msg){
  	socket.emit('msg',{ data : msg } ); 
  }

  // var interval = setInterval(function(){
  // 	socket.emit('msg', { my: 'data'}); 
  // }, 1000); 

</script>
</body>
</html>