@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body{
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}

p {
  line-height: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.brand-logo{
  margin-left: 5%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

.parallax{
  width: 50%;
  height: auto;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
}
  .parallax-container .section {
    width: 100%;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}